{% extends 'base.html.twig' %}

{% block body %}
    <h1>Application de test</h1>
    <p>Bienvenue sur ce test de recrutement.</p>

    <h2>1. Tri de données</h2>
    <p>L'objectif de ce premier exercice est de modifier l'affichage effectué sur la <a href="{{ url('departments') }}">page départements</a>.
    <p>
        Sur cette page les départements sont listés dans l'ordre fourni par la source de données. Vous devez trier les
        départements selon leur nom.
    </p>

    <h2>2. Ajout des informations de ville</h2>
    <p>
        L'objectif de cet exercice est d'intervenir sur les pages de chaque départements, par exemple celle de
        <a href="/departement/35/ille-et-vilaine">l'Ille-et-Vilaine</a>. Vous devez ajouter sur cette page la liste des
        villes du département. L'affichage est libre, cependant vous devez trier les villes par nom.
    </p>

    <h2>3. Gestion de cache public</h2>
    <p>

    </p>

    <h2>4. Optimisation d'un algorithme de tirage aléatoire</h2>
    <p>
    </p>

    <h2>5. </h2>
{% endblock %}